<div class="navbar">
</div>

<div class="content">

</div>

<script type="text/javascript">
  CapstoneProject.initialize({
    USERNAME: "<%= current_user.username %>",
    USER_ID: "<%= current_user.id  %>"
  });
</script>
