<form>
  <label>Title: </label>
  <input type='text' name='post[title]' value='<%= post.escape('title') %>'> <br>

  <label>Body: </label>
  <input type='text' name='post[body]' value='<%= post.escape('title') %>'> <br>

  <input type='submit' value='Create Post'>
</form>
