<a class="list-group-item" href="#/events/<%= event.id %>">
  <%= new Date(event.escape("time")).toLocaleString() %>
  <br>
  <%= event.escape("address") %>
  <% if (event.escape("owner_id") === CapstoneProject.USER_ID) { %>
    <span class="badge">Owner</span>
  <% } %>
</a>
